@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;800;900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --color-primary: #1a51bb;
  --color-secondary: #eb6f02;
  --color-tertiary: #ffb003;
  --color-primary-darker: #eb6f01;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #ffb003, #eb6f02);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
    color: #fff;
  }
  
  /* nav and stickly class at the same time */
  .nav.sticky {
    position: fixed;
    background-color: #000000;
  }
  
  .nav__logo {
    height: 4.5rem;
    transition: all 0.3s;
  }
  
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav__item {
    margin-left: 4rem;
    color: white ;
  }
  
  .nav__link:link,
  .nav__link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
  }
  
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #222;
  }
  
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color: var(--color-primary-darker);
    color: #333;
  }
  .container-fluid{
    background-color: #eb6f01;
    height: 300px;
}
.h1{
    color: white;
    text-align: center;
    justify-content: center;
}
.paragraph1{
    color: white;
    text-align: center;
    justify-content: center;
}


.h2{
    text-align: center;
    justify-content: center;
    color: white;
}
.table{
  height: 50vh;
}
.heading2{
    text-align: center;
    justify-content: center;
    background-color: #000000;
    width: 100%;
    height: 30px;
}
